.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.google-logo {
}

.google-search-container {
  margin: 10px auto 25px auto;
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 50px;
  border: 1px solid #dadce0;
  border-radius: 25px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .google-search-container {
    width: 80%;
  }
}

.google-search-container:hover, .google-search-container:focus {
  box-shadow: 0 1px 6px rgba(32,33,36,0.28);;
}

.google-search-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.google-delete-icon-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.google-search-input-container {
  display: flex;
  flex: 8;
}

.google-search-input {
  flex: 1;
  border-radius: 25px;
  border: none !important;
  outline: none !important;
}

.google-button {
  background-color: #f8f9fa;
  font-size: 16px;
  padding: 15px;
  border-radius: 5px;
  border: none !important;
  outline: none !important;
  cursor: pointer;
}

.google-button:not(first-child) {
  margin-left: 10px;
}

.google-button:hover {
  border: 1px solid #dadce0 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.29);
}